#radiation_therapy_prescription
  %h2
    Radiation Therapy
  = render :partial => 'abstractor/abstractor_abstractions/list', :locals => {:about => @radiation_therapy_prescription}
  .radiation_therapy_prescription_actions
    .actions
      - if @radiation_therapy_prescription.submitted?
        = button_to 'Remove', Abstractor::UserInterface.abstractor_relative_path(abstractor.update_wokflow_status_abstractor_abstractions_path()), data: { confirm: 'Are you sure?' }, method: :put, class: "abstractor_update_workflow_status_link_pend abstractor_update_workflow_status_link", remote: false, params: { about_type: @radiation_therapy_prescription.class, about_id: @radiation_therapy_prescription.id, abstraction_workflow_status: Abstractor::Enum::ABSTRACTION_WORKFLOW_STATUS_PENDING }, disabled: false, form_class: 'abstraction_workflow_status_form'
      - else
        = button_to 'Submit', Abstractor::UserInterface.abstractor_relative_path(abstractor.update_wokflow_status_abstractor_abstractions_path()), data: { confirm: 'Are you sure?' }, method: :put, class: "abstractor_update_workflow_status_link_submit abstractor_update_workflow_status_link #{ @radiation_therapy_prescription.fully_set? ? 'abstractor_update_workflow_status_link_enabled' : 'abstractor_update_workflow_status_link_disabled' }", remote: false, params: { about_type: @radiation_therapy_prescription.class, about_id: @radiation_therapy_prescription.id, abstraction_workflow_status: Abstractor::Enum::ABSTRACTION_WORKFLOW_STATUS_SUBMITTED }, disabled: !@radiation_therapy_prescription.fully_set?, form_class: 'abstraction_workflow_status_form'
      |
      - if @radiation_therapy_prescription.discarded?
        = link_to 'Undiscard', Abstractor::UserInterface.abstractor_relative_path(abstractor.undiscard_abstractor_abstractions_path(about_type: @radiation_therapy_prescription.class, about_id: @radiation_therapy_prescription.id)), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_undiscard_case_link'
      - else
        = link_to 'Discard', Abstractor::UserInterface.abstractor_relative_path(abstractor.discard_abstractor_abstractions_path(about_type: @radiation_therapy_prescription.class, about_id: @radiation_therapy_prescription.id)), data: { confirm: 'Are you sure?'}, method: :put, class: 'abstractor_discard_case_link'