#abstractor_object_values
  .abstractor_object_values_header
    %h2
      %b
        = @abstractor_abstraction_schema.display_name
        Values
    = form_tag abstractor_abstraction_schema_abstractor_object_values_path, method: :get, id: 'search_abstractor_object_values_form' do
      .abstractor_search
        = label_tag :search, 'Search'
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .abstractor_navigation
        %button{ type: 'submit', id: 'search_abstractor_object_values_button', class: 'tiny' }
          Search
        = link_to 'Clear', abstractor_abstraction_schema_abstractor_object_values_path

  .abstractor_object_values_list
    = will_paginate @abstractor_object_values
    %table
      %thead
        %tr
          %th
            Value
          %th
            Vocabulary code
          %th{colspan: 2}
      %tbody
        - @abstractor_object_values.each do |abstractor_object_value|
          = content_tag_for(:tr, abstractor_object_value) do
            %td.abstractor_object_value_value
              = abstractor_object_value.value
            %td.abstractor_object_value_vocabulary_code
              = abstractor_object_value.vocabulary_code
            %td.abstractor_object_value_edit
              = link_to 'Edit', Abstractor::UserInterface.abstractor_relative_path(abstractor.edit_abstractor_abstraction_schema_abstractor_object_value_path(@abstractor_abstraction_schema, abstractor_object_value)), class: 'edit_abstractor_abstraction_schema_abstractor_object_value_link'
            %td.abstractor_object_value_delete
              = link_to 'Delete', Abstractor::UserInterface.abstractor_relative_path(abstractor.abstractor_abstraction_schema_abstractor_object_value_path(@abstractor_abstraction_schema, abstractor_object_value)), method: :delete, class: 'delete_abstractor_abstraction_schema_abstractor_object_value_link', data: { confirm: 'Are you sure?' }
    = will_paginate @abstractor_object_values
    = link_to 'New', Abstractor::UserInterface.abstractor_relative_path(abstractor.new_abstractor_abstraction_schema_abstractor_object_value_path(@abstractor_abstraction_schema)), class: 'new_abstractor_abstraction_schema_abstractor_object_value_link'
